

a {
  color: #000000;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
}

.mysection {
  background-color: #2f4f4f;
  width: 100%;
  height: 200px;
}

hr { display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto; 
  margin-end: auto; 
  overflow: hidden; 
  border-style: inset;
  border-width: 1px;
}

h1 {
  font-size: 30px;
  font-weight: 700px;
  color: black;
  margin-right: 45%;
  margin-left: 45%;
  display: block;
}

h2 {
  font-size: 20px;
  font-weight: 700px;
}

h3 {
  font-size: 18px;
  font-weight: 700px;
}

.profile-item:visited {
  color: #2f4f4f;
}

a {
  color: #8b0000;
}

a:visited {
  color: #fff;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: #8b0000;
}

button {
  border: none;
  font-family: inherit;
  background-color: green;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.5;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #00bfff;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #00bfff;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #00bfff;
  color: white;
}

.profile__portrait {
  float: left;
  width: 350px;
  margin-right: 40px;
  border-radius: 50%;
}

.page__footer {
  clear: both;
}

.profile {
  max-width: 700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.profile__contact {
  display: block;
  margin-left: 44%;
  margin-right: 44%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.logo2 {
    float: left;
    max-width: 200px;
    max-height: 200px;
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 10%;
    border-radius: 0%;
}  

.page-header {
    margin-left: 5%;
    margin-right: 100%;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
    background-color: #2f4f4f;
}

.page-header__item {
  right: 150px;
  margin-top: 30px;
  margin-left: 1400px;
  float: right;
  color: #FFF8DC;
  background-color: #2f4f4f;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 375px 20px 375px;
  grid-template-columns: 375px 375px;
  -ms-grid-rows: 250px 20px 250px;
  grid-template-rows: 250px 250px;
  grid-gap: 20px;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid2 {
  display: -ms-grid;
  display: grid;
  margin-right: auto;
  margin-left: auto;
  -ms-grid-columns: 600px 600px;
  grid-template-columns: 600px 600px;
  -ms-grid-rows: 100px 100px;
  grid-template-rows: 100px 100px;
}

.grid2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid2 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid2 > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid2 > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid__item2 {
  background-color: #dcdcdc;
}

.grid__item {
  background-color: #dcdcdc;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.berlin-illustration {
  max-width: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 30%;
  margin-left: 40%;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}
